
.idea/
.vscode/


/client/node_modules/
/server/node_modules/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


.env
.env.*.local

.DS_Store


server/public/images/
server/public/uploads/
server/upload/
server/uploadFiles/


*.session.sql
workSQL/


migrations/*.js.map
seeders/*.js.map


dist/
build/


docker-compose.override.yml